@charset "UTF-8";
/*
 * @Descripttion : 
 * @version      : 
 * @Author       : Mirst
 * @Date         : 2021-11-03 15:48:49
 * @LastEditors  : Mirst
 * @LastEditTime : 2021-11-03 17:49:34
 */

/* 初始化
 --------------------------------------------------------------------------------- */

body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, p, form, header, section, article, footer {
    margin: 0;
}

body, button, input, select, textarea {
    font: 12px/1.5 tahoma, 'Microsoft YaHe', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, ul, ol {
    padding: 0;
}

html, body {
    -webkit-user-select: none;
    user-select: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.wrap *, .wrap ::before, .wrap ::after {
    outline: none;
    box-sizing: border-box;
}

.wrap {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}