@charset "UTF-8";
/*
 * @Descripttion : 
 * @version      : 
 * @Author       : Mirst
 * @Date         : 2021-10-30 05:11:36
 * @LastEditors  : Mirst
 * @LastEditTime : 2021-10-31 18:05:36
 */
/* @import url(reset.css); */
/* 老页面需要放大适应现在的1080屏幕，缩放1.5倍，不知道这种缩放合不合适？*/
/* html {
  zoom: 1.5;
} */

/* 初始化
------------------------------------------------------------------------- */
:root {
  --font-color: #c5c5c5;
  --title-color: #ffa200;
  --sub-title-color:#fff;
  --footer-color: #eeb180;
  --info-img-border-color:#464646;
}

html,
body,
div,
h1,
h2,
h3,
h4,
ul,
ol,
li,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* 200807
----------------------------------------------------------------------------- */

/* 背景不继承 */
html {
  background-color: black;
}

div.main {
  width: 961px;
  margin: auto;
  background: url(../images/bg_index.jpg) no-repeat;
}

div.bottom-bg-container {
  position: absolute;
  top: 350px;
  width: 961px;
  height: 244px;
  background: url(../images/page_bg_bottom.jpg) no-repeat;
}

div.main-list-container {
  position: absolute;
}

.main-list {
  position: absolute;
  left: 778.8px;
  top: 73.7px;
}

.main-list a {
  position: relative;
  /* color: transparent; */
}

.main-list a.update {
  left: 0;
  top: 0;
}
.main-list a.update::before {
  content: url(../images/menu_01.jpg);
}
.main-list a.update:hover::before {
  content: url(../images/menu_01o.jpg);
}
.main-list a.update.selected::before {
  content: url(../images/menu_01o.jpg);
}

.main-list a.city {
  left: 16px;
  top: 38px;
}
.main-list a.city::before {
  content: url(../images/menu_02.jpg);
}
.main-list a.city:hover::before {
  content: url(../images/menu_02o.jpg);
}
.main-list a.city.selected::before {
  content: url(../images/menu_02o.jpg);
}

.main-list a.monster {
  left: 27px;
  top: 76px;
}
.main-list a.monster::before {
  content: url(../images/menu_03.jpg);
}
.main-list a.monster:hover::before {
  content: url(../images/menu_03o.jpg);
}

.main-list a.task {
  left: 36px;
  top: 121px;
}
.main-list a.task::before {
  content: url(../images/menu_04.jpg);
}
.main-list a.task:hover::before {
  content: url(../images/menu_04o.jpg);
}

.main-list a.award {
  left: -1px;
  top: 174.6px;
}
.main-list a.award::before {
  content: url(../images/menu_05.jpg);
}
.main-list a.award:hover::before {
  content: url(../images/menu_05o.jpg);
}

div.sub-list-container {
  position: absolute;
}

.sub-list {
  position: relative;
  left: 155px;
  top: 377px;
  line-height: 1.6;
  font-size: 19px;
}

.sub-list a {
  color: transparent;
}

/* 页脚
---------------------------------------------------------------------------- */

footer {
  width: 789px;
  height: 48px;
  margin: auto;
  background: url(../images/foot_bg.gif) no-repeat;
}

footer section {
  position: relative;
  left: 330px;
  font-size: 12px;
  line-height: 1.3;
}

footer section p {
  color: var(--footer-color);
}

/* update页面
---------------------------------------------------------------------------- */
div.info-wrapper{
  padding: 170px  0 15px 268px;
}

div.info-container {
  position: relative;
  padding: 20px 12px 15px;
  width: 462px;
  border: rgba(255, 255, 255, 0.7) 3px solid;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.7);
}

div.info {
  color: var(--font-color);
  font-size: 12px;
  line-height: 1.5;
}
div.info p {
  padding-top: 5px;
  text-indent: 20px;
}
div.info ol {
  padding-left: 20px;
}
div.info h3 {
  padding-bottom: 5px;
  font-size: 13px;
  color: var(--title-color);
}

div.info-head{
  border-bottom: var(--font-color) 1.4px dotted;
  padding-bottom: 15px;
}

div.info-section{
  padding-top:15px;
}

div.info-extend{
  height: 98px;
}

/* city页面
---------------------------------------------------------------------------------- */

div.info h4{
  padding: 5px 0;
  color: var(--sub-title-color);
}

div.info-section img{
  border:1px solid var(--info-img-border-color);
}

div.img-gallery{
  overflow: hidden;
}

div.img-gallery img{
  float: left;
  width: 144px;
  margin-right: 8px;
}

