@charset "UTF-8";
/*
 * @Descripttion : 
 * @version      : 
 * @Author       : Mirst
 * @Date         : 2021-10-30 05:11:36
 * @LastEditors  : Mirst
 * @LastEditTime : 2021-10-30 07:01:53
 */
/* @import url(reset.css); */
/* 老页面需要放大适应现在的1080屏幕，缩放1.5倍，不知道这种缩放合不合适？*/
/* html {
  zoom: 1.5;
} */

:root {
  --footer-color: #eeb180;
}

* {
  margin: 0;
  padding: 0;
}

/* 背景不继承 */
html {
  background-color: black;
}

div.main {
  width: 961px;
  height: 556px;
  margin: auto;
  background: url(../images/bg_index.jpg);
}

footer {
  width: 789px;
  height: 48px;
  margin: auto;

  background: url(../images/foot_bg.gif);
}

footer section {
  position: relative;
  left: 330px;
  font-size: 12px;
  line-height: 1.3;
  color: var(--footer-color);
}
