
.box-txt {
    position: relative;
    margin-top: 100px;
    padding: 20px 12px 15px;
    width: 462px;
  }
  
  div.info {
    color: var(--font-color);
    font-size: 12px;
    line-height: 1.5;
  }
  
  div.info p {
    padding-top: 5px;
    text-indent: 20px;
  }
  
  div.info ol {
    padding-left: 20px;
  }
  
  div.info h3 {
    padding-bottom: 5px;
    font-size: 13px;
    color: var(--title-color);
  }
  
  div.info-head {
    border-bottom: var(--font-color) 1.4px dotted;
    padding-bottom: 15px;
  }
  
  div.info-section {
    padding-top: 15px;
  }
  
  
  /* city页面
  ---------------------------------------------------------------------------------- */
  
  div.info h4 {
    padding: 5px 0;
    color: var(--sub-title-color);
  }
  
  div.info-section img {
    border: 1px solid var(--info-img-border-color);
  }
  
  div.img-gallery {
    overflow: hidden;
  }
  
  div.img-gallery img {
    float: left;
    width: 144px;
    margin-right: 8px;
  }
  
  /* monster 页面
  ----------------------------------------------------------------------------------------- */
  
  div.info-section img.img-full {
    width: 100%;
  }
  
  /* task页面
  ------------------------------------------------------------------------------------------- */
  
  table.task {
    border: var(--font-color) 1.5px solid;
    border-collapse: collapse;
  }
  
  table.task th {
    border: var(--font-color) 1px solid;
  }
  
  table.task th:nth-child(1) {
    width: 23%;
  }
  
  table.task th:nth-child(2) {
    width: 19%;
  }
  
  table.task th:nth-child(3) {
    width: 13%;
  }
  
  table.task th:nth-child(4) {
    width: 26%;
  }
  
  table.task td {
    border: var(--font-color) 1px solid;
    padding: 3px;
  }
  
  /* award 页面
  -------------------------------------------------------------------------------------- */
  
  table.award {
    border-collapse: separate;
    border-spacing: 5px 10px;
  }
  
  table.award td {
    vertical-align: bottom;
  }