/.vscode
Head-First-HTML5/ch8/video/.DS_Store
Head-First-HTML5/ch8/video/areyoupopular.mp4
Head-First-HTML5/ch8/video/areyoupopular.ogv
Head-First-HTML5/ch8/video/areyoupopular.webm
Head-First-HTML5/ch8/video/demovideo1.mp4
Head-First-HTML5/ch8/video/demovideo1.ogv
Head-First-HTML5/ch8/video/demovideo1.webm
Head-First-HTML5/ch8/video/demovideo2.mp4
Head-First-HTML5/ch8/video/demovideo2.ogv
Head-First-HTML5/ch8/video/demovideo2.webm
Head-First-HTML5/ch8/video/destinationearth.mp4
Head-First-HTML5/ch8/video/destinationearth.ogv
Head-First-HTML5/ch8/video/destinationearth.webm
Head-First-HTML5/ch8/video/preroll.mp4
Head-First-HTML5/ch8/video/preroll.ogv
Head-First-HTML5/ch8/video/preroll.webm
Head-First-HTML5/ch8/video/README.txt
