body{
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 10pt;
}

abbr{
    font-weight: bold;
    text-decoration: none;
    border: 0;
    font-style: normal;
}

a{
    text-decoration: none;
}