@charset "UTF-8";
/*
 * @Descripttion : 
 * @version      : 
 * @Author       : Mirst
 * @Date         : 2021-10-30 05:11:36
 * @LastEditors  : Mirst
 * @LastEditTime : 2021-11-01 15:51:37
 */

/* @import url(reset.css); */

/* 老页面需要放大适应现在的1080屏幕，缩放1.5倍，不知道这种缩放合不合适？*/

/* html {
  zoom: 1.5;
} */

/* default style
------------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  background: #fff;
  color: #c5c5c5;
  font: 12px Arial, Verdana, Tahoma;
}

div, form, img, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

ol {
  margin-left: 20px;
}

table {
  border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font: 12px Verdana, Arial, Helvetica, sans-serif;
}

a img, img {
  border: 0;
}

select, input, textarea {
  color: #575757;
  background: inherit;
  font: 12px Arial, Verdana, Tahoma;
}

/* form style
----------------------------------------------------------------------------- */

input, textarea, select {
  padding: 1px;
}

.submit, .submit input {
  cursor: pointer;
}

#login {}

#search {}

/* linkslinks
-------------------------------------------------------------------------------- */

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #0896d4;
  text-decoration: underline;
}

/* clearfix style
-------------------------------------------------------------------------------- */

.clear {
  clear: both;
}

/* class style
--------------------------------------------------------------------------------- */

.bg_bottom {
  background: url(../images/page_bg_bottom.jpg) no-repeat 0 350px;
}

/* layout stylelayout style
------------------------------------------------------------------------------------ */

#wrapper {
  margin: 0 auto;
  margin-right: auto;
  width: 961px;
  background: url(../images/bg_index.jpg) no-repeat;
}