<!--
 * @Descripttion : 
 * @version      : 
 * @Author       : Mirst
 * @Date         : 2021-11-03 15:41:32
 * @LastEditors  : Mirst
 * @LastEditTime : 2021-11-03 16:44:52
-->

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Mirst,Blog,个人博客">
    <meta name="description" content="Mirst的个人博客测试">
    <meta name="author" content="Mirst" />
    <meta name="robots" content="all">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="ie-stand">
    <title>Mirst Blog</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.css"> -->
    <link rel="stylesheet" href="css/index.css" media="screen and (min-device-width: 1025px)">
</head>

<body>
    <!-- SEO优化 -->
    <h1 style="display: none;">Mirst·Blog</h1>
    <h2 style="display: none;">Mirst·个人博客官方站</h2>
    <!-- 页面主体代码 -->
    <div class="wrap">
        <!-- <div class="wap-video">
            <video src="./ossweb-img/loadx264.mp4" autoplay='autoplay' muted id="video"></video>
        </div> -->

        <!-- S 第一屏 -->
        <div class="swiper1 swiper-container " id="swiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide content main1">
                    <div class="main-video">
                        <div class="video-shade1"></div>
                        <video src="./ossweb-img/Cut257.mp4" muted autoplay='autoplay' loop></video>
                    </div>
                    <div class="cent">

                        <!-- 游戏首曝 -->
                        <div class="mian-game-first">
                            <!-- <p class="first-txt">“欢迎来到，王者世界”</p> -->
                            <!-- <p class="first-sm">东方传承·灵感共创</p> -->
                            <p class="first-txt2"></p>
                            <div class="play-k">
                                <div class="play-k2"></div>
                                <a href="javascript:;" class="play" onclick="PTTSendClick('btn','play','视频播放按钮');"></a>
                            </div>
                            <!-- 向下图标 -->
                            <!-- <h3 class="first-downward"></h3> -->
                        </div>
                    </div>
                    <div class="thread">
                        <div class="thread-left"></div>
                        <div class="thread-right"></div>
                    </div>
                    <a href="javascript:;" class="btn-music on"></a>
                </div>
                <div class="swiper-slide content main2 ">
                    <div class="main-video">
                        <div class="video-shade"></div>
                        <video src="./ossweb-img/cut00265.mp4" muted autoplay='autoplay' loop></video>
                    </div>
                    <div class="cent">
                        <div class="mian-eggs-negotiable">
                            <div class="swiper-container negotiable">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" v-for="(item, index) in bonusList" :key="index">
                                        <div class="negotiable-act">
                                            <div class="nogo-act"
                                                @click="PTTSendClick('btn',`detail-caidan-${item.id}`,`彩蛋详情_${item.id}`);">
                                                <div class="nogo-act-w"></div>
                                                <div class="nogo-act-img-k">
                                                    <img :src="item.cover" alt="">
                                                </div>
                                            </div>
                                            <p class="nogo-title">{{ item.title }}</p>
                                            <p class="nogo-time">{{ item.time }}</p>
                                        </div>
                                        <div class="slide-cout">
                                            <div class="anchor">
                                                <img :src="item.cover" alt="">
                                                <div class="amchor-solid-circle"></div>
                                            </div>
                                            <p class="negotiable-name">{{ item.title }}</p>
                                            <p class="negotiable-time">{{ item.time }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thread"></div>
                    <div class="thread"></div>
                    <div class="thread"></div>
                    <!--登录前状态 Start-->
                    <div id="unlogin" class="login" v-if="!isLogin">
                        <a id="btn_wxandqqlogin" href="javascript:void(0);" title="一体化登录" @click="showLoginPop">【登录】</a>
                    </div>
                    <!--登录前状态 End-->
                    <!--登录后状态 Start-->
                    <div id="logined" class="login" v-if="isLogin">
                        <a id="btn_logout" href="javascript:void(0);" title="注销" @click="logout()">【注销】</a>
                        <div class="tx-k" v-if="loginInfo.avatar">
                            <div class="tx-zs"></div>
                            <img :src="loginInfo.avatar" alt="" id="ams_user_headimg">
                        </div>
                        <span id="login_qq_span">{{ loginInfo && loginInfo.nickname }}</span>
                    </div>
                </div>
                <!-- <div class="swiper-slide content main3">
					<div class="main-around-world">
						<ul class="around-list">
							<li class="jixia-academy-college on">
								<div class="mengban"></div>
								<div class="college-zhezhao"></div>
								<div class="college-cont">
									<img src="ossweb-img/around-icon1.png" alt="">
									<p class="college-worldview">Worldview</p>
									<p class="college-name">稷下学院</p>
									<p class="college-introduce">稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管理；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；</p>
								</div>
							</li>
							<li>
								<div class="mengban"></div>
								<h3 class="coming-soon"></h3>
							</li>
							<li>
								<div class="mengban"></div>
								<h3 class="coming-soon"></h3>
							</li>
							<li>
								<div class="mengban"></div>
								<h3 class="coming-soon"></h3>
							</li>
							<li>
								<div class="mengban"></div>
								<h3 class="coming-soon"></h3>
							</li>
						</ul>
					</div>
				</div> -->
                <div class="swiper-slide content main4">
                    <div class="cent">
                        <div class="main-research-establish">
                            <div class="establish-title-bt">
                                <p class="establish-tit">稷下研发社</p>
                                <!-- <a href="javascript:;" class="btn-wxf ld"
									onclick="PTTSendClick('btn','wantplay','我想玩');"
									@click="showSurveyCommentDia">我想玩</a> -->
                            </div>
                            <div class="establish-k">
                                <h3 class="establish-logo"></h3>
                                <p class="establish-title">《王者荣耀·世界》开发者创想日志</p>
                                <p class="establish-time">2021-10-30</p>
                                <p class="establish-data">
                                    在游戏开发阶段，我们访问了各个模块的开发者，记录下开发过程中的心路历程，并和大家分享一些设计中的手稿、原画以及视频、趣事等，希望能将我们的设计理念不断地传递给大家，共同见证世界的构建。
                                </p>
                            </div>
                            <div class="establish-bt">
                                <p class="establish-txt "> <a href="javascript:;"
                                        onclick="PTTSendClick('btn','btn-establish','查看更多开发者日记');"
                                        title="查看更多跳转">查看更多开发者日志 <i class="btn-establish"></i></a> </p>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="swiper-slide content main5">
                    <div class="cent">
                        <div class="main-team">
                            <div class="team-left">
                                <h3 class="logo3"></h3>
                                <p class="team-title">加入开发者团队</p>
                                <ul class="team-txt">
                                    <li>我们都期待有一个梦想的世界：这个世界是崭新的、进化的，在这个世界里<br>我们能感知到生命的情感、未知的探索、东方幻想的意境焕发的新生 </li>
                                    <li>这，就是王者荣耀•世界。</li>
                                    <li>希望，这个世界未来能回应玩家对属于自己东方文化的高品质3A开放<br>世界游戏的期待</li>
                                    <li>也希望，有更多的人加入我们，共同创作这个世界！</li>
                                </ul>
                            </div>
                            <div class="team-right">
                                <div class="team-nav">
                                    <a href="javascript:;" class="te-nav" v-for="(item, index) in jobTabs" :key="index"
                                        :class="{on: index == activeJobIndex}" @click="activeJobIndex = index">{{ item
                                        }}</a>
                                </div>
                                <div class="team-cout">
                                    <ul class="team-anmi">
                                        <li v-for="(item, index) in currentJobList" :key="index">
                                            <div class="team-go-up" @click="handleJobDetailClick(item)">
                                                <div class="team-right-txt">
                                                    <p class="team-txt-title">{{ item.name }}</p>
                                                </div>
                                                <div class="team-right-icon">
                                                    <a href="javascript:;" class="btn-go"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="swiper-slide content main6">
                    <div class="cent">
                        <div class="main-last-show">

                            <p class="show-txt"></p>
                            <p class="show-bt"><a href="https://www.ggac.com/v2/sub/wzworld/challenge" target="_blank"
                                    class="show-go ld">前往参与</a></p>
                        </div>
                    </div>
                    <div class="thread">
                        <div class="thread-left"></div>
                        <div class="thread-right"></div>
                    </div>
                </div>
                <!-- <div class="swiper-slide main7">
				</div> -->
            </div>
        </div>
        <!-- E 第一屏 -->


        <div class="wrap-nav-box">
            <a href="javascript:;" class="logo-main" onclick="PTTSendClick('btn','logo','logo');">
                <div class="logo"></div>
                <div class="logo2">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </a>
            <div class="wrap-nav wrap-nav1 on"><a href="javascript:;" class="btn-nav"
                    onclick="PTTSendClick('btn','btn-nav','游戏首曝');">游戏首曝</a></div>
            <div class="wrap-nav wrap-nav2 "><a href="javascript:;" class="btn-nav"
                    onclick="PTTSendClick('btn','btn-nav','彩蛋热议');">彩蛋热议</a></div>
            <div class="wrap-nav wrap-nav4 "><a href="javascript:;" class="btn-nav"
                    onclick="PTTSendClick('btn','btn-nav','稷下研发社');">稷下研发社</a></div>
            <div class="wrap-nav wrap-nav3 "><a href="javascript:;" class="btn-nav"
                    onclick="PTTSendClick('btn','btn-nav','加入我们');">加入我们</a></div>
            <div class="wrap-nav wrap-nav5 "><a href="javascript:;" class="btn-nav"
                    onclick="PTTSendClick('btn','btn-nav','游戏共创');">游戏共创</a></div>
            <div class="wrap-nav6 "><a href="javascript:;" class="btn-nav"
                    onclick="PTTSendClick('btn','btn-nav','加入官方阵营');">官方社群</a></div>
        </div>
        

        <div class="pop pvideo" style="display: none;">
            <div class="pop-video">
                <div class="video-k">
                    <div class="adorn"></div>
                    <div id="container"></div>
                </div>
                <a href="javascript:;" class="video-close anclose ld"
                    onclick="PTTSendClick('btn','video-close','视频关闭按钮');"></a>
            </div>
        </div>
        

        <div class="pop comment" style="display: none;">
            <div class="pop-comment ">
                <div class="comment-picture">
                    <img :src="currentBonus.cover" alt="">
                </div>
                <div class="comment-cont" v-if="bonusList && bonusList.length > 0">
                    <p class="comment-time"><em>{{ currentBonus.time }}</em><i :class="{on: isLiked}"
                            @click="handleLike"></i><span>{{ likeNums }}</span> </p>
                    <p class="comment-title">{{ currentBonus.title }}</p>
                    <p class="comment-title-x">{{currentBonus.info}}</p>

                    <div class="comment-info" @scroll="handleCommentListScroll($event)">
                        <ul class="comment-info-list">
                            <li v-for="(item, index) in userCommentList" :key="index">
                                <p class="comment-message">
                                    <i>“</i> <span>{{ item.content }}</span><i>”</i>
                                </p>
                                <p class="comment-name">By: <span>{{ item.name }}</span> </p>
                            </li>
                            <li v-for="(item, index) in commentList" :key="index">
                                <p class="comment-message">
                                    <i>“</i> <span>{{ item.content }}</span><i>”</i>
                                </p>
                                <p class="comment-name">By: <span>{{ item.name }}</span> </p>
                            </li>
                        </ul>
                    </div>
                    <a href="javascript:;" class="btn-scd ld" @click="handleComment">我要评论</a>
                    <div class="comment-k" style="display: none;">
                        <textarea class="comm-info " maxlength="140" placeholder="请输入评论（限140字内）"
                            v-model="commentContent"></textarea>
                        <div class="comment-control">
                            <a href="javascript:;" class="btn-control-comment ld"
                                onclick="PTTSendClick('btn','btn-control-comment','评论');" @click="submitComment">提交</a>
                            <a href="javascript:;" class="btn-control-cancel ld"
                                onclick="PTTSendClick('btn','btn-control-cancel','取消');" @click="hideCommentArea">取消</a>
                        </div>
                    </div>
                    <div class="comment-queen" style="display: none;">
                        <div class="comment-queen-info">
                            <img src="./ossweb-img/gou.png" alt="" width="37" height="37">
                            <span class="comment-tips">评论成功！通过审核后将展示给所有人</span>
                        </div>
                        <a href="javascript:;" class="btn-comment-prev ld" @click="hideCommentResultArea">返回</a>
                    </div>
                </div>
                <!-- Swiper -->
                <div class="swiper-container comment-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="(item, index) in bonusList" :key="index">
                            <div class="comment-swiper-cont">
                                <div class="comment-circle-kx">
                                    <div class="circle-sx"></div>
                                </div>
                                <div class="comment-act">
                                    <img :src="item.cover">
                                </div>
                                <p>{{ item.title }}</p>
                            </div>
                        </div>
                    </div>
                    <h3 class="commnit-hr"></h3>
                    <h3 class="commnit-hr"></h3>
                </div>
                <a href="javascript:;" class="comment-close anclose ld"
                    onclick="PTTSendClick('btn','comment-close','关闭');" @click="closeCommentDia"></a>
            </div>
        </div>
        

        <!-- 第三屏 -->
        <!-- <div class="pop pworld" style="display: none;">
			<div class="pop-world">
				<div class="world-left">
					<div class="world-left-info">
						<ul>
							<li class="world-jixia on act">
								<div class="jixia-cout">
									<div class="world-dayuan">
										<h3 class="dayuan-k"></h3>
										<img src="./ossweb-img/xz-2-img2.png">
									</div>
									<div class="world-xiaoyuan" style="display: none;">
										<h3 class="xiaoyuan-k"></h3>
										<img src="./ossweb-img/icon4.png">
									</div>
								</div>
								<p class="world-name on">稷下学院</p>
							</li>
							<li class="world-jixia">
								<div class="jixia-cout">
									<div class="world-dayuan" style="display: none;">
										<h3 class="dayuan-k"></h3>
										<img src="./ossweb-img/xz-2-img1.png">
									</div>
									<div class="world-xiaoyuan" >
										<h3 class="xiaoyuan-k"></h3>
										<img src="./ossweb-img/icon4.png">
									</div>
								</div>
								<p class="world-name">稷下学院</p>
							</li>
							<li class="world-jixia">
								<div class="jixia-cout">
									<div class="world-dayuan" style="display: none;">
										<h3 class="dayuan-k"></h3>
										<img src="./ossweb-img/xz-2-img2.png">
									</div>
									<div class="world-xiaoyuan">
										<h3 class="xiaoyuan-k"></h3>
										<img src="./ossweb-img/icon4.png">
									</div>
								</div>
								<p class="world-name">稷下学院</p>
							</li>
							<li class="world-jixia">
								<div class="jixia-cout">
									<div class="world-dayuan" style="display: none;">
										<h3 class="dayuan-k"></h3>
										<img src="./ossweb-img/xz-2-img2.png">
									</div>
									<div class="world-xiaoyuan">
										<h3 class="xiaoyuan-k"></h3>
										<img src="./ossweb-img/icon4.png">
									</div>
								</div>
								<p class="world-name">稷下学院</p>
							</li>
							<li class="world-jixia">
								<div class="jixia-cout">
									<div class="world-dayuan" style="display: none;">
										<h3 class="dayuan-k"></h3>
										<img src="./ossweb-img/xz-2-img2.png">
									</div>
									<div class="world-xiaoyuan">
										<h3 class="xiaoyuan-k"></h3>
										<img src="./ossweb-img/icon4.png">
									</div>
								</div>
								<p class="world-name">稷下学院</p>
							</li>
						</ul>
					</div>
					
					<h3 class="left-hr"></h3>
				</div>
				<div class="world-right">
					<div class="world-right-cout">
						<img src="./ossweb-img/world-img1.png" alt="">
						<ul>
							<li>3123稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。</li>
						</ul>
						<div class="world-toggle">
							<a href="javascript:;" class="toggle-left"></a>
							<a href="javascript:;" class="toggle"></a>
							<a href="javascript:;" class="toggle-right"></a>
						</div>
					</div>
					<div class="world-right-cout" style="display: none;">
						<img src="./ossweb-img/world-img1.png" alt="">
						<ul>
							<li>5345稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。</li>
						</ul>
						<div class="world-toggle">
							<a href="javascript:;" class="toggle-left"></a>
							<a href="javascript:;" class="toggle"></a>
							<a href="javascript:;" class="toggle-right"></a>
						</div>
					</div>
					<div class="world-right-cout" style="display: none;">
						<img src="./ossweb-img/world-img1.png" alt="">
						<ul>
							<li>5345稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。</li>
						</ul>
						<div class="world-toggle">
							<a href="javascript:;" class="toggle-left"></a>
							<a href="javascript:;" class="toggle"></a>
							<a href="javascript:;" class="toggle-right"></a>
						</div>
					</div>
					<div class="world-right-cout" style="display: none;">
						<img src="./ossweb-img/world-img1.png" alt="">
						<ul>
							<li>5345稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。</li>
						</ul>
						<div class="world-toggle">
							<a href="javascript:;" class="toggle-left"></a>
							<a href="javascript:;" class="toggle"></a>
							<a href="javascript:;" class="toggle-right"></a>
						</div>
					</div>
					<div class="world-right-cout" style="display: none;">
						<img src="./ossweb-img/world-img1.png" alt="">
						<ul>
							<li>5345稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。稷下学院是王者世界的最高学府。由“三贤者”姜子牙、老夫子与墨子共同管；初到稷下的学生在山下修行提升，头半年稷下会包办饮食起居，之后留下的人需要自行赚取生活所需；
							</li>
							<li>目标是通过升学考试，可以自己修行，也可以寻找升学考试后方可登上稷下山，进入稷下学院，正式开始各家学派的学习。</li>
						</ul>
						<div class="world-toggle">
							<a href="javascript:;" class="toggle-left"></a>
							<a href="javascript:;" class="toggle"></a>
							<a href="javascript:;" class="toggle-right"></a>
						</div>
					</div>
				</div>
				<a href="javascript:;" class="world-close" onclick="PTTSendClick('btn','world-close','关闭');"></a>
			</div>
		</div> -->
        

        <div class="pop plogin" style="display: none;">
            <!-- 登录弹窗 -->
            <div class="pop-login">
                <div class="login-cout">
                    <p class="login-txt">亲爱的用户，请登录</p>
                    <a href="javascript:;" class="btn-login-qq" onclick="PTTSendClick('btn','login-qq','QQ登录');"
                        @click="login('qq')"></a>
                    <a href="javascript:;" class="btn-login-wx" onclick="PTTSendClick('btn','login-weixin','微信登录')"
                        @click="login('wxpc')"></a>
                </div>
                <a href="javascript:;" class="login-close anclose ld" @click="hideLoginPop"></a>
                <div class="thread">
                    <div class="thread-left"></div>
                    <div class="thread-right"></div>
                </div>
            </div>
        </div>


        <!-- <div class="pop pcommunity " style="display: none;">
            <div class="pop-community">
                <div class="community-cout">
                    <p class="community-txt">扫码加入官方社群</p>
                    <div class="join-qq">
                        <div class="join-k ">
                            <div class="join-k2">
                                <img src="ossweb-img/ewm-qq.png" alt="" width="103" height="103">
                            </div>
                        </div>
                        <p class="join-txt">加入QQ群</p>
                    </div>
                    <div class="join-wx">
                        <div class="join-k">
                            <div class="join-k2">
                                <img src="ossweb-img/ewm-wx.png" alt="" width="103" height="103">
                            </div>
                        </div>
                        <p class="join-txt">加入微信群</p>
                    </div>
                </div>
                <a href="javascript:;" class="community-close anclose ld"></a>
                <div class="thread">
                    <div class="thread-left"></div>
                    <div class="thread-right"></div>
                </div>
            </div>
        </div> -->


        <!-- <div class="pop pestablish">
            <div class="pop-establish-tc2">
                <a href="javascript:;" class="establish-close anclose ld"></a>
                <p class="tc2-title">《王者荣耀·世界》开发者创想日志</p>
                <div class="tc2-cout">
                    <p class="tc2-time">日期：2021.10.30</p>
                    <p class="tc2-txt">不知道大家是否对恢弘的大世界感到惊艳呢？一草一木都蕴含了开发者的丰富巧思，等待我们去探讨和发现，我们搜集了一些开发者的创造灵感，来看看他们是怎么说的吧~~</p>
                    <ul>
                        <li>
                            <p class="tc2-list-title">1.【美术设计师】</p>
                            <p class="tc2-list-txt">
                                <span>我们的整体思路是在东方传统文化的基础上，运用不同的美术主义形式，将东方古典美学进行现代化艺术演绎。中华文化博大精深，我们可以从中获得足够的养料。我们要抓住的不仅是形，更是“意”。</span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-1.jpg" alt=""></p>
                            <p class="tc2-list-txt">
                                <span>当然会有非常多的挑战，举例来说，其中一个是在游戏中呈现出东方气质。</span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-2.jpg" alt=""></p>
                            <p class="tc2-list-txt">
                                <span>为了更好地寻找东方美学元素，我们会利用业余时间去博物馆学习观摩，选择出适合稷下的元素。商周的青铜器、汉代的漆器、唐三彩、宋代的瓷器，花纹、形制，蕴藏其中的中国思想、在每一件器物背后的故事，都是我们的设计植根于此的土壤。经过提炼和总结，希望能给大家呈现一个充满东方幻想的王者世界。感谢大家。</span>
                            </p>
                        </li>
                        <li>
                            <p class="tc2-list-title">2.【植被设计师】</p>
                            <p class="tc2-list-txt">
                                <span>大家有没有发现最近峡谷里的花花草草变多了？三只小熊的家旁边装饰着不知名的小花，走过河道两边的时候有花朵在脚下绽开，小兵的手里也悄悄拿着一个花束。</span>
                                <span>那么到了王者大陆里，荒凉的云中漠地，春草蔓生的稷下，遥远的海都，精灵般的云梦泽.....</span>
                                <span>王者大陆的植被构成应该是什么样呢？</span>
                                <span>带着这个问题，我们思考了很多，也找寻了很多。</span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-3.jpg" alt=""></p>
                            <p class="tc2-list-txt">
                                <span>去年我们的团队去过黄山采风，看到云雾中的松针、溪流里的落叶，被美景震撼的同时，忍不住想，把这些放在游戏里呢？
                                    <br>“灵芝适合放在百草园！”<br>“这是木兰吗？”<br>“不太像，是天女花吧。”<br>“对对，是天女花！把这个设计成采集物吧！”</span>
                                <span>有位平时喜欢看博物杂志和各种科普号的同事，这个时候可发挥大作用了！香果树、红楠、花榈木、连香权，领春木......一株株一样样，都被记录和“安排”了下来，带着很多张速写和照片，我们心满意足地回程。</span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-4.jpg" alt=""></p>
                            <p class="tc2-list-txt">
                                <span>比起高山大河、雄伟的建筑，一花一树也许并不那么吸引眼球。可正是这些不起眼的草木，构建出了美丽的大自然，雪月风花、四季轮转。我们也希望把这项不算起眼的工作，为大家呈现出更完美的效果。
                                </span>
                            </p>
                        </li>
                        <li>
                            <p class="tc2-list-title">3.【生物设计师】</p>
                            <p class="tc2-list-txt">
                                <span>在王者世界里描绘那些熟悉的野怪们各自的故事，这便是我作为生物设计师的部分工作。“也许每一只王者刺熊从出生起，就踏上了寻找另外两只伙伴的旅程。而外表凶狠的暗影主宰有可能像囚牛一样喜好音律么？风暴龙王没准和老夫子是几千年的老友，想想就很刺激吧。每一只步履不停的河道之灵身上或许都藏着一段故事……”</span>
                                <span>我希望在王者世界里玩家可以从多个角度去感受这些生物的真实，因此除了故事之外，也要从生态位、形态结构、生活习性、进化原理、人类关系等多个角度是进行设计。除了这些熟悉的身影，王者世界里还有很多可爱、酷炫、富有幻想的生物等待玩家去发现。
                                </span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-5.jpg" alt=""></p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-6.jpg" alt=""></p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-7.jpg" alt=""></p>
                            <p class="tc2-list-txt">
                                <span>我从小就很喜欢动物，最爱看赵忠祥爷爷的《动物世界》、《人与自然》。长大后，我办理了所在城市动物园的年卡，最频繁的时候一个月去了七八次。作为一个生物设计师，我希望把我想象中王者大陆上的各种神奇生物，呈现给大家。让大家在这里留下一段奇妙美好的体验记忆。
                                </span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-8.jpg" alt=""></p>
                        </li>
                        <li>
                            <p class="tc2-list-title">4.【区域策划】</p>
                            <p class="tc2-list-txt">
                                <span>曾经看到有玩家发帖讨论<br>
                                    “假如你可以到王者大陆的稷下学院读书，你会选择加入哪个学院？”<br>
                                    很多玩家跟帖回复了自己心中的稷下学院，想象在学院里学习生活的场景。<br>
                                    “一楼！那必然是魔道学院，和西施一起上课！”<br>
                                    在王者世界，说不定你还可以跟西施一起去听宫羽家的音乐会，品尝肴馔家的美食。<br>
                                    “谢邀，材料学大一小白一枚，我觉得机关学院不错，研究一下鲁大机关臂和元歌的傀儡都用得是什么材料。”说不定机关学院里就有专门的傀儡教室。<br>
                                    “泻药，金牌蒙犽，机关学院应该也有专门研究炸弹和火器的实验室吧，可以去那儿改造蒙犽的机关炮！”或许可以在火器家活动区域内规划可以让你尽情实验各种大威力火器的装置。“这好难选啊，能不能去别的学院蹭课啊……”<br>
                                    “成年人当然是全都要啊，上午找老夫子一对一指导，下午听墨子机关大师课，晚上做梦有庄周魔道启发，想想就美滋滋……”</span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-9.jpg" alt=""></p>
                            <p class="tc2-list-txt">
                                <span>作为一个王者六年老玩家，我也有过这样的幻想；幸运的是，作为一名区域策划我加入了这个项目，能够亲手为这个世界添砖加瓦，和大家一起建造曾经的梦想。</span>
                            </p>
                        </li>
                        <li>
                            <p class="tc2-list-title">5.【服饰设计师故事】</p>
                            <p class="tc2-list-txt">
                                <span>没有人能拒绝好看的衣服，没有吧？我从小喜欢逛街看衣服，现在也算是得偿所愿：学习过古今中外的服装史，也在时装秀欣赏过新潮时尚，终于创作出一幅幅自己的设计图。但给游戏角色设计服装，可不仅要漂亮、可爱或者帅气。服装设计是一种语言，是让玩家在和角色产生交互前就能了解角色、甚至了解世界的视觉语言。</span>
                                <span>第一层是王者感，简单来说就是以东方文化为基础，又要有年轻化的酷。目前设计的大多是稷下的学生和老师，就会强调青春活力，学术自由的氛围。落实在设计上，我们的服装整体上有现代的简洁干练，细节处却是东方元素；主色调是稷下白，三大学院又有各自的代表色。对不同角色也有差异化的设计：柔美水袖或是硬朗剪裁，蝴蝶纹饰或是流云线条，希望能在细微处融入对角色的思考。</span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-10.jpg" alt=""></p>
                            <p class="tc2-list-txt">
                                <span>身为服饰设计者，如果大家对我们为游戏角色设计的服装产生兴趣，甚至想实际穿上试试看，那就是对我们工作最大的肯定啦。</span>
                            </p>
                        </li>
                        <li>
                            <p class="tc2-list-title">6.【天气设计师】</p>
                            <p class="tc2-list-txt">
                                <span>王者世界中的天气设计，不是一个人的功劳。涉及到程序、美术、战斗的团队配合。我们想在游戏中追求天气的写实效果，于是在程序小伙伴们作出专门的天气系统后，我们会再进行具体参数的调试。比如说一个区域内的天气如何变化、人物的活动会不会对自然环境产生影响、特殊天气事件、极端天气等等，这些元素会共同构成王者世界中丰富多变的天气系统。</span>
                            </p>
                            <p class="tc2-img"><img src="./ossweb-img/tc2-11.jpg" alt=""></p>
                        </li>
                    </ul>
                </div>

            </div>
        </div> -->


        <!-- <div class="pop pteam">
            <div class="pop-team">
                <a href="javascript:;" class="pop-team-close anclose ld"></a>
                <p class="pop-team-title">{{ currentJobDetail.name }}</p>
                <div class="pop-team-job">
                    <div class="pop-job-duties">
                        <p class="job-title">工作职责</p>
                        <ul>
                            <li v-for="(item, index) in currentJobDetail.duties" :key="index">{{ item }}
                            </li>
                        </ul>
                    </div>
                    <div class="pop-job-require">
                        <p class="job-title">工作要求</p>
                        <ul>
                            <li v-for="(item, index) in currentJobDetail.requires" :key="index">{{ item }}
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="deliver">请将简历投递至:{{ currentJobDetail.email }}</p>
            </div>
        </div> -->


        <!-- <div class="pop pestablish2">
            <div class="pop-establish">
                <div class="pop-estab-cout">
                    <p class="pop-estab-txt">写下你对王者世界的想法,<br>帮助我们做出更好的游戏！</p>
                    <div class="pop-estab-sex sele">
                        <span>性&nbsp;&nbsp;&nbsp;别</span>
                        <select class="sex" v-model="surveyComment.sex">
                            <option v-for="(item, index) in sexList" :key="index">{{ item }}</option>
                        </select>
                    </div>
                    <div class="pop-estab-age sele">
                        <span>年&nbsp;&nbsp;&nbsp; 龄</span>
                        <select class="age" v-model="surveyComment.age">
                            <option v-for="(item, index) in ageList" :key="index">{{ item }}</option>
                        </select>
                    </div>
                    <div class="pop-estab-tall-dan sele">
                        <span>最高段位</span>
                        <select class="dan" v-model="surveyComment.grade">
                            <option v-for="(item, index) in gradeList" :key="index">{{ item }}</option>
                        </select>
                    </div>
                    <div class="pop-estab-idea">
                        <p class="idea-title">你对王者世界的想法</p>
                        <textarea class="comm-info" maxlength="140" placeholder="请输入想法（限140字内）"
                            v-model="surveyComment.content"></textarea>
                    </div>
                    <a href="javascript:;" class="btn-commit" onclick="PTTSendClick('btn','survey-comment','调研评论');"
                        @click="handleSurveyComment">提交</a>
                    <a href="javascript:;" class="btn-estab-close anclose ld" @click="hideSurveyCommentDia"></a>
                </div>
            </div>
        </div> -->

        
        <!-- <audio id="bgm" loop autoplay="autoplay" src="./ossweb-img/bgm.mp3"></audio> -->
    </div>

    <!-- S 脚本 -->
    <script src="https://ossweb-img.qq.com/images/js/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://tiem-cdn.qq.com/slugteam/libraries/vue/vue@2.6.min.js"></script>
    <script src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js"> </script>
    <script src='https://vm.gtimg.cn/tencentvideo/txp/js/txplayer.js'></script>
    <script src='https://gzhcos.qq.com/components/slug-login/v1.0/index.js'></script>
    <script src="https://ossweb-img.qq.com/images/js/PTT/ping_tcss_tgideas_https_min.js"></script>
    <!-- 模块化页脚？ -->
    <!-- <script src="//game.gtimg.cn/images/js/2018foot/foot.js"></script> -->
    <!-- 获取原工作信息 -->
    <!-- <script src="./js/lib/jobList.js" charset="UTF-8"></script> -->
    <!-- 主页面js -->
    <script src="./js/index.js"></script>
    <!-- E 脚本 -->

</body>

</html>