body{
    font-family: "Helvetica","Arial",sans-serif;
    font-size: large;
    background-color: #fff;
    color: #000;
}
table{
    margin: auto;
    border: 1px solid #699;
}
caption{
    margin: auto;
    padding: .5em;
    font-size: 1.5em;
    font-weight: bold;
}
tr:hover{
    font-weight: bold;
}
th{
    font-weight: normal;
    font-style: italic;
    text-align: left;
    border: 1px dotted rgb(161, 224, 224);
    background-color: rgb(72, 87, 87);
    color: rgb(255, 255, 255);
}

th,td{
    width: 10em;
    padding: .8em;
}
tr:nth-child(odd) {background-color: rgb(255, 255, 255);}
tr:nth-child(even) {background-color: rgb(219, 222, 251);}